body {
    background-color: #333333; /* Dark Grey */
    color: white;              /* White Text */
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    height: 100vh;
    margin: 50;
  }
  img {
  width: 600px;       /* Prevents image from overflowing small screens */
  height: auto;         /* Maintains aspect ratio */
  border-radius: 8px;   /* Optional: rounds the corners slightly */
  }